 server {
        listen   80;

        root /var/www/{{item}}/public_html;
        index index.html index.htm;

        server_name {{item}};
        access_log   logs/{{item}}-access.log  main;
        error_log   logs/{{item}}-error.log;
}